apiVersion: v1
kind: Secret
metadata:
  name: app-secret
  namespace: fiap-tc-1
type: Opaque
stringData:
  DB_DATABASE: "mecanica"
  DB_USERNAME: "mecanica"
  DB_PASSWORD: "troque-por-uma-senha-sua"
  DB_ROOT_PASSWORD: "troque-por-outra-senha-sua"
  APP_KEY: "base64:GERE_COM_openssl_rand_-base64_32"
  JWT_SECRET: "GERE_COM_openssl_rand_-hex_32"
  APPROVAL_SECRET: "GERE_COM_openssl_rand_-hex_16"
